.row.btm-bord
  .col-md-4.col-sm-6.col-xs-12
    %p
      %b
        - 1.upto(review.rating) do |i|
          ☆
        - if defined? review.author
          %em= review.author
        - else
          %em= review.product.title
          %em= review.created_at.strftime("%d-%m-%y")
    %p= review.content

